.main  {
    .display-desktop  {
        button {
            background: #7a7a7a;
            color: #fff;
            margin-right: .5rem;
            &:hover {
                background: #ddd !important;
                color:#000;
            }
        }
        button.active{
            background: #ddd !important;
        }
        .tab-pane {
            padding: 1rem;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
    }
    .bonus-question {
        border: 1px solid #ccc;
        padding: 4rem;
        border-radius: 10px;
        background: #ddd;
    }
}