.section-1 {
    .col-content {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 5rem !important;
        box-shadow: 0px 0px 3px #ddd;
        a.button.btn {
            bottom: 0;
            left: 30%;
            margin: 0 auto;
            padding: 1rem 1.5rem;
            border-radius: 35px;
            font-weight: 700;
            border: 2px solid #000;
            margin-bottom: 1rem;
            &:hover {
                background: #ccc;
            }
        }
    }    
}